extends layout

block scripts
 script(type='text/javascript').
  var result=!{JSON.stringify(result)};
  console.log(result);

block content
 h1= title
 table
  each tweet in result
   tr
   td <strong>#{tweet._source.username}</strong>
   td #{tweet._source.status}